body {
    background-image:url('../img/bg.jpg');
    font-family: "Roboto","Arial",sans-serif;
    font-size:20px;
}
p {
    width:300px;
    text-align:middle;
    font-weight:500;
}
span{
    color: gray;
    font-weight: 300;
    font-size: 19px;
    display:block;
}
h4 {
    margin:0;
    padding:0;
    margin:10px 0px;
}

li{
    font-weight:500;
}
h2 {
    text-align:center;
    padding:0;
    color:#0b948f;
    text-transform:uppercase;
    margin:0;
    width:200px;
    border: 3px solid black;
    padding:10px;
    border-radius:3px;
    margin-bottom:20px;
    transition:400ms;
}
h2:hover {
    background-color:#0b948f;
    transition:400ms;
    color:white;
}
p{
    color:black;
    padding:0;
    margin:0;
}
ul {
    list-style-type:none;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    padding:0;
    margin:0;
    
}
.container {
    width:1200px;
    margin: 0 auto;
}

.whiteground {
    display:flex;
    background-color:white;
    width:1200px;
    flex-wrap:wrap;
    margin: 0 auto;
    box-shadow: 0 0 79px 11px rgba(53, 50, 50, 0.5);
    padding:20px;
    justify-content:space-between;
    border-radius:10px;
}
.head-logo {
    display:flex;
    flex-wrap:wrap;
    width:1200px;
    margin-bottom:50px;
}


/* Контакты */


.personals {
    position:relative;
    display:flex;
    flex-direction:column;
    width:320px;
    margin-bottom:30px;
}
.personals:after {
    position: absolute;
    content: "";
    border-top: 3px solid black;
    border-left: 3px solid black;
    height: 470px;
    width: 297px;
    top: 26px;
    right: 317px;
}


.personals ul{
    width:200px;
    margin-left:25px;
}
.vk,
.skype,
.mail {
    position:relative;
}
.vk:after {
    content: "";
    position: absolute;
    top: 0px;
    left: -31px;
    width: 28px;
    height: 24px;
    background: url(../img/sprite.png) no-repeat;
    background-position: 0 -180px;
    cursor: pointer;
}
.skype:after {
    content: "";
    position: absolute;
    top: 0px;
    left: -31px;
    width: 28px;
    height: 24px;
    background: url(../img/sprite.png) no-repeat;
    background-position: 0 -156px;
    cursor: pointer;
}
.mail:after {
    content: "";
    position: absolute;
    top: 0px;
    left: -31px;
    width: 28px;
    height: 24px;
    background: url(../img/sprite.png) no-repeat;
    background-position: 0 -207px;
    cursor: pointer;
}


/* Конец контактов */

/* Про меня */


.aboutme {
    min-height:440px;
    position:relative;
    margin-left:80px;
    width:440px;
    margin-right:201px;
}

.aboutme:after {
    position:absolute;
    content:"";
    border-top:3px solid black;
    border-right:3px solid black;
    height:470px;
    width:199px;
    top:26px;
    right:15px;
}


/*Конец про меня*/

/* Блок по центру */


.center {
    display: flex;
    flex-direction:column;
    margin:0 auto;
    align-items:center;
    justify-content: center;
    padding:10px;
    width:300px;
    border-radius:3px;
    border:3px solid black;
    max-height:325px;
    background-color: white;
    z-index: 1;
}
.center h3{
    text-align:center;
}
.card-container {
    cursor: pointer;
    height: 200px;
    perspective: 600;
    position: relative;
    width: 200px;
}
.card {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%;
}
.card:hover {
    transform: rotateY(180deg);
}
.card .side {
    backface-visibility: hidden;
    border-radius: 6px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}
.card .back {
    background: #eaeaed;
    color: #0b948f;
    line-height: 150px;
    text-align: center;
    transform: rotateY(180deg);
}
.btn {
    border: 0;
    background: #0b948f;
    border-radius: 4px;
    box-shadow: 0 5px 0 #097b77;
    color: #fff;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;
    text-decoration:none;
}
.btn:active {
    box-shadow: 0 2px 0 #006599;
    transform: translateY(3px);
}


/* Конец блока по центру */

/* Опыт работы */

.experience {
    display:flex;
    flex-direction:column;
    margin-right:80px;
    position:relative;
    width:275px;
    margin-top:-110px;
}
.experience ul {
    margin-left:30px;
    margin-bottom:50px;
}
.experience:after {
    position: absolute;
    content: "";
    border-top: 3px solid black;
    border-left: 3px solid black;
    height: 120px;
    width: 97px;
    top: 26px;
    right: 273px;
}
.experience:before {
    position: absolute;
    content: "";
    border-left: 3px solid black;
    height: 268px;
    width: 77px;
    top: 62px;
    right: 184px;
}
.scg,
.pf-travel,
.fl {
    position:relative;
}

.scg:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -29px;
    width: 28px;
    height: 21px;
    background: url(../img/sprite.png) no-repeat;
    background-position: 0 -117px;
    cursor: pointer;
}
.pf-travel:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -29px;
    width: 28px;
    height: 21px;
    background: url(../img/sprite.png) no-repeat;
    background-position: 0 -117px;
    cursor: pointer;
}
.fl:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -29px;
    width: 28px;
    height: 21px;
    background: url(../img/sprite.png) no-repeat;
    background-position: 0 -117px;
    cursor: pointer;
}



/* Конец опыт работы */

/* Навыки */


.skills {
    display:flex;
    position:relative;
    flex-direction:column;
    width:300px;
}
.skills ul {
    margin-left:30px;
}
.skills:after {
    position: absolute;
    content: "";
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    height: 99px;
    width: 172px;
    top: -71px;
    right: 300px;
}
.skills:before{
    position: absolute;
    content: "";
    border-left: 3px solid black;
    height: 298px;
    width: 77px;
    top: 61px;
    right: 207px;
}
.skills li {
    position:relative;
}
.skills li:before {
    content: "";
    position: absolute;
    top: 1px;
    left: -27px;
    width: 28px;
    height: 21px;
    background: url(../img/sprite.png) no-repeat;
    background-position: 0 -117px;
    cursor: pointer;
}


/* Конец навыки */

/* Образование */


.education {
    display:flex;
    flex-direction:column;
    position:relative;
    margin-left:80px;
    margin-bottom:60px;
}
.education:after {
    position: absolute;
    content: "";
    border-top: 3px solid black;
    width: 170px;
    top: 27px;
    left: 223px;
}


/* Конец образование */

.eduandlang{
    display:flex;
    flex-direction:column;

}

/* Языки */


.languages {
    display:flex;
    flex-direction:column;
    position:relative;
    margin-left:80px;
}
.languages:before {
    position: absolute;
    content: "";
    border-left: 3px solid black;
    height: 55px;
    width: 98px;
    top: 59px;
    right: 189px;
}
.languages:after {
    position: absolute;
    content: "";
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    height: 250px;
    width: 241px;
    top: -225px;
    right: -167px;
}
.languages ul {
    margin-left:30px;
}
.rus {
    position:relative;
}
.rus:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 80px;
    width: 105px;
    height: 18px;
    background: url(../img/sprite.png) no-repeat;
    background-position: 0 -99px;
    cursor: pointer;
}
.rus:before {
    content: "";
    position: absolute;
    top: 1px;
    left: -29px;
    width: 28px;
    height: 21px;
    background: url(../img/sprite.png) no-repeat;
    background-position: 0 -117px;
    cursor: pointer;

}
.eng {
    position:relative
}
.eng:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 80px;
    width: 105px;
    height: 18px;
    background: url(../img/sprite.png) no-repeat;
    background-position: 0 -80px;
    cursor: pointer;
}
.eng:before {
    content: "";
    position: absolute;
    top: 1px;
    left: -29px;
    width: 28px;
    height: 21px;
    background: url(../img/sprite.png) no-repeat;
    background-position: 0 -117px;
    cursor: pointer;
}


/* Конец языки */

